{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<!-- This is the header to give the title as a purpose of this website page -->
<h3 style="border: 2px solid black; background-color:white;">TFL API for accident stats</h3>
<!-- This is the paragraph providing the information about accident details as statistics with a link to read this API in JSON --> 
<p style="border: 2px solid black; background-color:white;">This information about the TFL accidents stats API from the year of reporting incidents is written in human-readable format, to read the information about reported accidents occuring yearly from TFL in machine-readable format as the API, click <a href="{{ url_for('accident_form') }}" title="This is the machine-readable format link to view the parameters for the TFL API accident stats.">here</a>.</p>
<!-- This is the form created for getting accident details by entering the year and submitting the button to get the response -->
<form action="{{ url_for('accident') }}" method="post">
    <label for="Year" style="border: 1px solid black; background-color:white;">Enter a year to display the details of the accidents:</label>
    <input type="text" style="border: 1px solid black;" name="Year" id="Year" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter the year of accident stats on this field, read here">The year to filter the accidents statistics should be entered in int32 or yyyy format, for example 2019.</button> <!-- This was the usability button created if a user needs help to enter a year for accident stats --> 
    <br><br>
    <button type="submit">This gets all accident details for accidents occuring in the specified year. Press this submit button here to get your result after completing this form.</button>
</form>
<!-- This opens the unordered list using for loops to display list of the data, casualty and vehicle reports from accident stats -->
<div>
    <ul style="border:2px solid black; background-color:white;">
        {% for statsofaccidents in data %}
            <li style="border:2px solid black;">
                <span>Type of API: {{ statsofaccidents["$type"] }}</span>
                <p>London borough: {{ statsofaccidents["borough"] }}</p>
                <p>Date of accident: {{ statsofaccidents["date"] }}</p>
                <p>Location of accident: {{ statsofaccidents["location"] }}</p>
                <p>Impact of accident: {{ statsofaccidents["severity"] }}</p>
                <p>Id of accident: {{ statsofaccidents["id"] }}</p>
                <p>Latitude: {{ statsofaccidents["lat"] }}</p>
                <p>Longitude: {{ statsofaccidents["lon"] }}</p>
                <ul>
                    {% for reports in statsofaccidents["casualties"] %}
                        <li>
                            <p>Age of casualty: {{ reports["age"] }}</p>
                            <p>Age category of casualty: {{ reports["ageBand"] }}</p>
                            <p>Class of casualty: {{ reports["class"] }}</p>
                            <p>Transport the casualty used: {{ reports["mode"] }}</p>
                            <p>Impact of the accident on the casualty: {{ reports["severity"] }}</p>
                        </li>
                    {% endfor %}
                </ul>
                <ul>
                    {% for transports in statsofaccidents["vehicles"] %}
                        <li>
                            <p>Type of vehicles used during the accident: {{ transports["type"] }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div> <!-- This closes the unordered list of the accident stats -->
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->