{% extends "layout.html" %}
{% block content %}
<style>
    body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        color: var(--text-color);
        background-color: var(--bg-color);
    }

    .light-mode {
        background-image: url('static/wallpaper.jpeg');
        --bg-color: white;
        --text-color: black;
    }

    .dark-mode {
        background-image: url('static/darkmode-wallpaper.jpg');
        --bg-color: #5F5F5F;
        --text-color: white;
    }

    .content-box {
        border: 2px solid var(--text-color);
        background-color: var(--bg-color);
    }

    .toggle-button {
        cursor: pointer;
        display: block;
        margin: auto;
    }
</style>

<button class="toggle-button" onclick="toggleMode()">Click this button here to change towards light or dark mode with the style of text</button>

<!-- Header -->
<h3 class="content-box">TFL API for air quality forecast</h3>

<!-- Paragraphs providing information -->
<p class="content-box">This information about the API air quality from TFL is written in human-readable format, to read the information about air quality from TFL in machine-readable format as the API, click <a href="{{ url_for('weatherandtemp_info') }}" title="This is the machine-readable format link to view the parameters for the TFL API air quality.">here</a>. <br>To view the weather forecast from London air, click <a href="https://www.londonair.org.uk/Londonair/Forecast/">here</a>.</p>

<p class="content-box"><strong><u>The information of the weather forecast</u></strong><br><br>
    Type of API: {{ data['$type'] }} 
    <br><br>
    Update Period: {{ data['updatePeriod'] }} 
    <br><br>
    Update Frequency: {{ data['updateFrequency'] }}
    <br><br>
    Forecast URL: <a href="{{ data['forecastURL'] }}" title="Click here on this link to visit the forecast URL.">{{ data['forecastURL'] }}</a>
    <br><br>
    Disclaimer: {{ data['disclaimerText'] }}
</p>

<!-- Current and future weather forecasts -->
<p class="content-box" style="text-align: center;"><strong><u>The result of the current and future weather forecasts</u></strong></p>
<div>
    <ul class="content-box">
        {% for forecast in data['currentForecast'] %}
            <li class="content-box">
                <span title="This is the '$type' parameter for the forecast.">Type of API: {{ forecast['$type'] }}</span>
                <p>Type of forecast: {{ forecast['forecastType'] }}</p>
                <p>Forecast Band: {{ forecast['forecastBand'] }}</p>
                <p>The summary of the forecast: {{ forecast['forecastSummary'] }}</p>
                <p>Weather forecast description: {{ forecast['forecastText'] | safe }}</p>
                <p>NO2 Band (Nitrogen dioxide) of this weather forecast: {{ forecast['nO2Band'] }}</p>
                <p>O3 Band (Ozone) of this weather forecast: {{ forecast['o3Band'] }}</p>
                <p>PM10 Band (PM10 particulates) of this weather forecast: {{ forecast['pM10Band'] }}</p>
                <p>PM2.5 Band (PM2.5 particulates) of this weather forecast: {{ forecast['pM25Band'] }}</p>
                <p>SO2 Band (Sulphur dioxide) of this weather forecast: {{ forecast['sO2Band'] }}</p>
                {% if 'fromDate' in forecast %}
                <p>The date and time of this forecast information will start from (written in RFC3339 format): {{ forecast['fromDate'] }}</p>
                {% endif %}
                {% if 'toDate' in forecast %}
                <p>The date and time of this forecast information will end until (written in RFC3339 format): {{ forecast['toDate'] }}</p>
                {% endif %}
                {% if 'publishedDate' in forecast %}
                <p>The date and time this forceast information was published (written in RFC3339 format): {{ forecast['publishedDate'] }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<p class="content-box"><strong><u>Banding values for air pollution about the air quality index</u></strong><br><br>
    Low (1-3)<br>
    At Risk Individuals: Enjoy your usual outdoor activities. <br>General Population: Enjoy your usual outdoor activities.
    <br><br>
    Moderate (4-6)<br>
    At Risk Individuals: Adults and children with lung problems, and adults with heart problems, who experience symptoms, should consider reducing strenuous physical activity, particularly outdoors. <br>General Population: Enjoy your usual outdoor activities.
    <br><br>
    High (7-9)<br>
    At Risk Individuals: Adults and children with lung problems, and adults with heart problems, should reduce strenuous physical exertion, particularly outdoors, and particularly if they experience symptoms. People with asthma may find they need to use their reliever inhaler more often. Older people should also reduce physical exertion. <br>General Population: Anyone experiencing discomfort such as sore eyes, cough or sore throat should consider reducing activity, particularly outdoors.
    <br><br>
    Very High (10)<br>
    At Risk Individuals: Adults and children with lung problems, adults with heart problems, and older people, should avoid strenuous physical activity. People with asthma may find they need to use their reliever inhaler more often. <br>General Population: Reduce physical exertion, particularly outdoors, especially if you experience symptoms such as cough or sore throat.
</p>

<script>
    function toggleMode() {
        document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode');
    }

    // Set initial mode
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark-mode');
    } else {
        document.body.classList.add('light-mode');
    }
</script>
{% endblock content %}