{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written in -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<!-- This is the header to give the title as a purpose of this website page -->
<h3 style="border: 2px solid black; background-color:white;">TFL Bikepoint API for locations.</h3>
<!-- This is the paragraph provididng the information about all bikepoint locations with a link to read this API in JSON -->
<div>
    <p style="border: 2px solid black; background-color:white;">This information about the TFL Bikepoint API for locations is written in human-readable format, to read the information about all bikepoint locations from TFL in machine-readable format as the API, click <a href="{{ url_for('bikepointareas_info') }}" title="This is the machine-readable format link to view the parameters for the TFL API bikepoint for all locations.">here</a>.</p>
<!-- This opens the unordered list using for loops to display the information like names, types Id etc. from all bikepoint locations -->
    <ul style="border: 2px solid black; background-color:white;">
        {% for locationofbikepoint in data %}
            <li style="border: 2px solid black; background-color:white;">
                <span>Type of API: {{ locationofbikepoint["$type"] }}</span>
                <p>Common name: {{ locationofbikepoint["commonName"] }}</p>
                <p>Type of place: {{ locationofbikepoint["placeType"] }}</p>
                <p>Id of bike point: {{ locationofbikepoint["id"] }}</p>
                <p>Bike point URL: <a href="https://api.tfl.gov.uk{{ locationofbikepoint['url'] }}">{{ locationofbikepoint["url"] }}</a></p>
                <p>Latitude: {{ locationofbikepoint["lat"] }}</p>
                <p>Longitude: {{ locationofbikepoint["lon"] }}</p>
                <ul>
                    {% for additionalproperties in locationofbikepoint["additionalProperties"] %}
                        <li>
                            <p><strong>Additional property information: {{ additionalproperties["$type"] }}</strong></p>
                            <p>The {{ additionalproperties["category"] }} of {{ additionalproperties["key"] }} is {{ additionalproperties["value"] }} in this {{ additionalproperties["sourceSystemKey"] }}. This information of this bike point was modified on {{ additionalproperties["modified"] }}.</p>
                        </li>
                        {% endfor %}
                </ul>  
            </li>
        {% endfor %}
    </ul>
</div> <!-- This closes the unordered list of all bikepoint locations -->
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered in -->