{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written in below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<!-- This is the header to give the title as a purpose of this website page -->
<h3 style="border: 2px solid black; background-color:white;">TFL Journey API for basic planning of your journey from the origin to the destination in machine-readable format as Json.</h3>
<!-- This is the paragraph provididng the information about the basic journey planner with a link to search for a station or a common name of a place -->
<p style="border: 2px solid black; background-color:white;">Click <a href="{{ url_for('search_match') }}">here</a> for more help with entering a place for your journey or use the maps from TFL to help find a nearby station, stop points, piers and places of interest for your origin and destination of your journey found <a href="https://tfl.gov.uk/maps">here</a>.</p>
<!-- This is the form created for getting the plan of a journey by entering its origin and destination along with the travel through point and the type of travel of the journey by submitting the button to get the response -->
<form action="{{ url_for('journeybasicplan_info') }}" method="post">
    <label for="startofjourney" style="border: 1px solid black; background-color:white;">Enter an origin of the journey:</label>
    <input type="text" name="startofjourney" id="startofjourney" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter an origin of your journey on this field, read here. In terms of an origin of your journey, the value entered will cause disambiguation unless it exactly matches a point of interest name.">This can be WGS84 coordinates expressed as "latitude,longitude", a UK postcode, a Naptan (StopPoint) id, an ICS code, or a free-text string.</button>
    <br><br>
    <label for="endofjourney" style="border: 1px solid black; background-color:white;">Enter the destination of the journey:</label>
    <input type="text" name="endofjourney" id="endofjourney" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter a destination of your journey on this field, read here. In terms of a destination of your journey, the value entered will cause disambiguation unless it exactly matches a point of interest name.">This can be WGS84 coordinates expressed as "latitude,longitude", a UK postcode, a Naptan (StopPoint) id, an ICS code, or a free-text string.</button>
    <br><br>
    <label for="timeofjourney" style="border: 1px solid black; background-color:white;">Enter the type of travel for your journey:</label>
    <input type="text" name="timeofjourney" id="timeofjourney" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter the type of travel for your journey on this field, read here.">The values to be entered are only Departing or Arriving supported by the type of travel for your journey.</button>
    <br><br>
    <label for="transport_modes" style="border: 1px solid black; background-color:white;">Enter a mode of transport for your journey:</label>
    <input type="text" name="transport_modes" id="transport_modes" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter a transport of travel for your journey on this field, read here.">Click <a href="{{ url_for('journeymodelist') }}">here</a> to view a type of transport to choose from for travelling during your journey.</button>
    <br><br>
    <button type="submit">This performs a journey planner search from the parameters specified in simple types. Press this submit button here to get your results after you have completed this form.</button>
</form>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered in above -->