{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written in below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<!-- This is the header to give the title as a purpose of this website page -->
<h3 style="border: 2px solid black; background-color:white;">TFL Journey API to find different kind of transports as modes.</h3>
<!-- This is the paragraph provididng the information about the list of journey transport modes with a link to read this API in JSON -->
<p style="border: 2px solid black; background-color:white;">This information about the TFL Journey API is written in human-readable format, to read the information about the types of transports from TFL in machine-readable format as the API, click <a href="{{ url_for('journeymodelist_info') }}" title="This is the machine-readable format link to view the parameters for the TFL Journey API about the transports modes">here</a>.</p>
<!-- This opens the unordered list using a for loop to display the result of journey transport modes as a list -->
<div>
    <ul style="border: 2px solid black; background-color:white;">
        {% for listofmode in data %}
            <li style="border: 2px solid black; background-color:white;">
                <span>Type of API: {{ listofmode["$type"] }}</span>
                <p>Name of transport mode: {{ listofmode["modeName"] }}</p>
                <p>TFL service: {{ listofmode["isTflService"] }}</p>
                <p>Payment of fares: {{ listofmode["isFarePaying"] }}</p>
                <p>Scheduled service: {{ listofmode["isScheduledService"] }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered in above -->