{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written in below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body {
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    .light-mode {
        background-image:url('static/wallpaper.jpeg');
        --bg-color: white;
        --text-color: black;
    }
    .dark-mode {
        background-image:url('static/darkmode-wallpaper.jpg');
        --bg-color: #5F5F5F;
        --text-color: white;
    }
    .content-box {
        border: 2px solid var(--text-color);
        background-color: var(--bg-color);
    }
    .toggle-button {
        cursor: pointer;
        display: block;
        margin: auto;
    }
</style>
<!-- This is the button that is used to enable light or dark mode of the personalised transport planner -->
<button class="toggle-button" onclick="toggleMode()">Click this button here to change towards light or dark mode with the style of text</button>

<!-- This is the header to give the title as a purpose of this website page -->
<h3 class="content-box">TFL Line API for predicting the specific arrival of transports.</h3>
<!-- This is the paragraph provididng the information about the specific arrival of a transport along with a link to read this API in JSON -->
<p class="content-box">This information about the TFL Line API is written in human-readable format, to read the information about the transports from TFL in machine-readable format as the API, click <a href="{{ url_for('linespecificarrival_form') }}" title="This is the machine-readable format link to view the parameters for the TFL Line API about the prediction of transport arrivals (using the line ID, stop point ID and canonical directions).">here</a>.</p>
<!-- This is the form created for getting the arrival of a transport by entering the Id of a line, stop point with canonical direction and submitting the button to get the response -->
<form action="{{ url_for('line_specificarrival') }}" method="post">
    <label for="lineids" class="content-box">Enter a line Id:</label>
    <input type="text" name="lineids" id="lineids" required>
    <button type="button" title="If you need help to enter a line Id in this field, read here">Click <a href="{{ url_for('line_mode') }}">here</a> to get the Id of a line available.</button>
    <br><br>
    <label for="stoppointids" class="content-box">Enter a stop point Id:</label>
    <input type="text" name="stoppointids" id="stoppointids" required>
    <button type="button" title="If you need help to enter the stop point Id in this field, read here">Click <a href="{{ url_for('search_match') }}">here</a> to get the stop point Id of available from a station.</button>
    <br><br>
    <label for="direction" class="content-box">Enter a canonical direction:</label>
    <input type="text" name="direction" id="direction" required>
    <button type="button" title="If you need help to enter a canonical direction in this field, read here">The values for the direction of travel are inbound, outbound or all.</button>
    <br><br>
    <button type="submit">This gets the specific list of arrival predictions for given line ids, stop point ids and canonical direction based at the given stop. Press this submit button here to get your result after you have completed this form.</button>
</form>
<!-- This opens the unordered list using a for loop to display list of results for the specific arrival of a transport -->
<div>    
    <ul class="content-box">
        {% for lineofarrival in data %}
            <li class="content-box">
                <span>Type of API: {{ lineofarrival["$type"] }}</span>
                <p>Name of transport mode: {{ lineofarrival["modeName"] }}</p>
                <p>Name of line: {{ lineofarrival["lineName"] }}</p>
                <p>Name of start station: {{ lineofarrival["stationName"] }}</p>
                <p>Platform of station: {{ lineofarrival["platformName"] }}</p>
                <p>Name of station destination: {{ lineofarrival["destinationName"] }}</p>
                <p>Direction: {{ lineofarrival["direction"] }}</p>
                {% set seconds = lineofarrival["timeToStation"] %}
                {% set minutes = seconds //60 %} <!-- This was the process of converting seconds to minutes -->
                {% if minutes == 0 %}
                <p><strong>Station time: Due</strong></p>
                {% else %}
                <p><strong>Station time of transport arrival is in: {{ minutes }} minutes</strong></p>
                {% endif %}
                <p>Expected arrival of transport to station: {{ lineofarrival["expectedArrival"] }}</p>
                <p>Vehicle Id: {{ lineofarrival["vehicleId"] }}</p>
                <p>Line Id: {{ lineofarrival["lineId"] }}</p>
                <p>Current location: {{ lineofarrival["currentLocation"] }}</p>
                <p>This location is towards: {{ lineofarrival["towards"] }}</p>
            </li>
        {% endfor %}
    </ul> <!-- This closes the unordered list about the specific arrival of a transport -->
</div>

<script>
    function toggleMode() {
        document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode');
    }
    
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark-mode');
    } else {
        document.body.classList.add('light-mode');
    }
</script>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered in above -->