{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<!-- This is the header to give the title as a purpose of this website page -->
<h3 style="border: 2px solid black; background-color:white;">TFL Line API to find the ids of a transport that is available in human-format.</h3>
<!-- This is the paragraph provididng the information about searching line Ids with a link to read this API in JSON -->
<p style="border: 2px solid black; background-color:white;">This information about the TFL Line API written in human-readable format, to read the information about the id of the lines from TFL in machine-readable format as the API, click <a href="{{ url_for('lineid_form') }}" title="This is the machine-readable format link to view the parameters for the TFL Line API about the ids.">here</a>.</p>
<!-- This is the form created for getting line Ids generally by entering the Id of a line and submitting the button to get the response -->
<form action="{{ url_for('line_id') }}" method="post">
    <label for="Line_ids" style="border: 1px solid black; background-color:white;">Enter an Id of a line:</label>
    <input type="text" name="Line_ids" id="Line_ids" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter the Id of a line, read here">Click <a href="{{ url_for('line_mode') }}">here</a> to get the Id of a line that is available.</button>
    <br><br>
    <button type="submit">This gets lines that serve the given id. Press this submit button here to get your result after you have completed this form.</button>
</form>
<!-- This opens the unordered list using for loops to display the result with the transport and service operated from a line Id -->
<div>
    <ul style="border: 2px solid black; background-color:white;">
        {% for lineids in data %}
            <li style="border: 2px solid black; background-color:white;">
                <span>Type of API: {{ lineids["$type"] }}</span>
                <p>Name of transport mode: {{ lineids["modeName"] }}</p>
                <p>Name of station: {{ lineids["name"] }}</p>
                <p>Line Id: {{ lineids["id"] }}</p>
                <p>Date and time of transport mode information created: {{ lineids["created"] }}</p>
                <p>Date and time of transport mode information updated: {{ lineids["modified"] }}</p>
                <ul>
                    {% for ids in lineids["serviceTypes"] %}
                        <li>
                            <p><strong>Type of service operated in this transport mode: {{ ids["name"] }}</strong></p>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul> <!-- This closes the unordered list of the line Id search -->
</div> 
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->