{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<!-- This is the header to give the title as a purpose of this website page -->
<h3 style="border: 2px solid black; background-color:white;">TFL Line API for the type of service in each route for the start and destination stop points.</h3>
<!-- This is the paragraph provididng the information about origin and end stops from a transport with a link to read this API in JSON -->
<p style="border: 2px solid black; background-color:white;">This information about the TFL Line API written in human-readable format, to read the information about type of service in each route for the start and destination stop points as the API, click <a href="{{ url_for('lineroute_form') }}" title="This is the machine-readable format link to view the parameters for the TFL Line API.">here</a>.</p>
<!-- This is the form created for getting stop routes by entering the mode and service and submitting the button to get the response -->
<form action="{{ url_for('line_route') }}" method="post">
    <label for="Line_route" style="border: 1px solid black; background-color:white;">Enter a transport mode:</label>
    <input type="text" name="Line_route" id="Line_route" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter a transport mode, read here. Please enter in the english language.">Click <a href="{{ url_for('modelist') }}">here</a> to view a transport mode. Examples are tube, bus, national-rail.</button>
    <br><br>
    <label for="typeof_service" style="border: 1px solid black; background-color:white;">Enter a type of service for a line:</label>
    <input type="text" name="typeof_service" id="typeof_service" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter a type of service for a line, read here. Please enter in the english language.">Click <a href="{{ url_for('line_typeservice') }}">here</a> to view the type of service that is provided by the line. Examples are Regular, Night.</button>
    <br><br>
    <button type="submit">This gets all lines and their valid routes for given modes, including the name and id of the originating and terminating stops for each route. Press this submit button here to get your result after you have completed this form.</button>
</form>
<!-- This opens the unordered list using for loops to display the result of original and terminated stoppoint routes from a line -->
<div>
    <ul style="border: 2px solid black; background-color:white;">
        {% for lineroute in data %}
            <li style="border: 2px solid black; background-color:white;">
                <span>Type of API: {{ lineroute["$type"] }}</span>
                <p>Name of line: {{ lineroute["name"] }}</p>
                <p>Name of transport mode: {{ lineroute["modeName"] }}</p>
                <p>Id of line: {{ lineroute["id"] }}</p>
                <ul>
                    {% for routeparts in lineroute["routeSections"] %}
                        <li>
                            <p>Name of start station and destination station: {{ routeparts["name"] }}</p>
                            <p>Name of start station: {{ routeparts["originationName"] }}</p>
                            <p>Name of destination station: {{ routeparts["destinationName"] }}</p>
                            <p>Direction: {{ routeparts["direction"] }}</p>
                            <p>Type of service for this route: {{ routeparts["serviceType"] }}</p>
                            <p>Date and time this information is valid from: {{ routeparts["validFrom"] }}</p>
                            <p>Date and time this information is valid until: {{ routeparts["validTo"] }}</p>
                            <ul>
                                {% for typeservices in lineroute["serviceTypes"] %}
                                    <li>
                                        <p><strong>Type of service for this line: {{ typeservices["name"] }}</strong></p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul> <!-- This closes the unordered list of original and terminated stoppoint routes from a line -->
</div>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->