{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body {
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    .light-mode {
        background-image:url('static/wallpaper.jpeg');
        --bg-color: white;
        --text-color: black;
    }
    .dark-mode {
        background-image:url('static/darkmode-wallpaper.jpg');
        --bg-color: #5F5F5F;
        --text-color: white;
    }
    .content-box {
        border: 2px solid var(--text-color);
        background-color: var(--bg-color);
    }
    .toggle-button {
        cursor: pointer;
        display: block;
        margin: auto;
    }
</style>
<!-- This is the button that is used to enable light or dark mode of the personalised transport planner -->
<button class="toggle-button" onclick="toggleMode()">Click this button here to change towards light or dark mode with the style of text</button>

<!-- This is the header to give the title as a purpose of this website page -->
<h3 class="content-box">TFL Line API to find the kind of transport modes that are available.</h3>
<!-- This is the paragraph provididng the information to search for the name of transport of a line with a link to read this API in JSON -->
<p class="content-box">This information about the TFL Line API written in human-readable format, to read the information about the types of transports along the lines from TFL in machine-readable format as the API, click <a href="{{ url_for('linemode_form') }}" title="This is the machine-readable format link to view the parameters for the TFL Line API about the different types of transportation.">here</a>.</p>
<!-- This is the form created for getting a transport from TFL by entering the mode of a line and submitting the button to get the response -->
<form action="{{ url_for('line_mode') }}" method="post">
    <label for="Line_mode" class="content-box">Enter a transport mode of a line:</label>
    <input type="text" name="Line_mode" id="Line_mode" required>
    <button type="button" title="If you need help to enter a name of a transport in this field, read here">Click <a href="{{ url_for('modelist') }}">here</a> to get a transport mode available.</button>
    <br><br>
    <button type="submit">This gets lines that serve the given modes. Press this submit button here to get your result after completing this form.</button>
</form>
<!-- This opens the unordered list using for loops to display the result of a transport from a line that served this -->
<div>
    <ul class="content-box">
        {% for linemodes in data %}
            <li class="content-box">
                <span>Type of API: {{ linemodes["$type"] }}</span>
                <p>Name of transport mode: {{ linemodes["modeName"] }}</p>
                <p>Name of station: {{ linemodes["name"] }}</p>
                <p>Id of line: {{ linemodes["id"] }}</p>
                <p>Date and time of transport mode information created: {{ linemodes["created"] }}</p>
                <p>Date and time of transport mode information updated: {{ linemodes["modified"] }}</p>
                <p>Type of service operated in this station of the transport mode below are</p>
                <ul>
                    {% for service in linemodes["serviceTypes"] %}
                        <li>
                            <p><strong> {{ service["name"] }}</strong></p>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    function toggleMode() {
        document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode');
    }
    
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark-mode');
    } else {
        document.body.classList.add('light-mode');
    }
</script>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->