{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<!-- This is the header to give the title as a purpose of this website page -->
<h3 style="border: 2px solid black; background-color:white;">TFL Mode API for prediction of transport arrivals and returns in machine-readable format as JSON.</h3>
<!-- This is the form created for getting the prediction of a transport to arrive to the station by entering the mode of a transport with a number to count the arrivals of a transport for each stop and submitting the button to get the response -->
<form action="{{ url_for('transportarrivals_info') }}" method="post">
    <label for="mode_names" style="border: 1px solid black; background-color:white;">Enter a name of a transport mode:</label>
    <input type="text" name="mode_names" id="mode_names" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter a transport mode in this field, read here">Click <a href="{{ url_for('modelist') }}">here</a> to get the list of transport modes that are available.</button>
    <br><br>
    <label for="count_arrival" style="border: 1px solid black; background-color:white;">Enter a number of arrivals to return for each stop:</label>
    <input type="text" name="count_arrival" id="count_arrival" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter the number of arrivals to return for each stop in this field, read here">A number of arrivals to return for each stop, type -1 to return all available.</button>
    <br><br>
    <button type="submit">This gets the next arrival predictions for all stops of a given mode. Press this submit button here to get your result after you have completed this form.</button>
</form>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->