{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body {
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    .light-mode {
        background-image:url('static/wallpaper.jpeg');
        --bg-color: white;
        --text-color: black;
    }
    .dark-mode {
        background-image:url('static/darkmode-wallpaper.jpg');
        --bg-color: #5F5F5F;
        --text-color: white;
    }
    .content-box {
        border: 2px solid var(--text-color);
        background-color: var(--bg-color);
    }
    .toggle-button {
        cursor: pointer;
        display: block;
        margin: auto;
    }
</style>

<button class="toggle-button" onclick="toggleMode()">Click this button here to change towards light or dark mode with the style of text</button>

<!-- This is the header to give the title as a purpose of this website page -->
<h3 class="content-box">TFL Mode API for prediction of transport arrivals and returns in human-readable format.</h3>
<!-- This is the paragraph provididng the information about predicting transport arrivals with a link to read this API in JSON -->
<p class="content-box">This information about the TFL Mode API is written in human-readable format, to read the information about the predicted transports returns and arrivals in and from stations from TFL in machine-readable format as the API, click <a href="{{ url_for('transportarrivals_form') }}" title="This is the machine-readable format link to view the parameters for the TFL Mode API about the arrivals and departures of a transport.">here</a>.</p>
<!-- This is the form created for getting the prediction of a transport to arrive to the station by entering the mode of a transport with a number to count the arrivals of a transport for each stop and submitting the button to get the response -->
<form action="{{ url_for('transportarrivals') }}" method="post">
    <label for="mode_name" class="content-box">Enter a name of a transport mode:</label>
    <input type="text" name="mode_name" id="mode_name" required>
    <button type="button" title="If you need help to enter a transport mode in this field, read here">Click <a href="{{ url_for('modelist') }}">here</a> to get the list of transport modes that are available.</button>
    <br><br>
    <label for="count_arrivals" class="content-box">Enter the number of arrivals to return for each stop:</label>
    <input type="text" name="count_arrivals" id="count_arrivals" required>
    <button type="button" title="If you need help to enter the number of arrivals to return for each stop in this field, read here">Enter a number of arrivals to return for each stop, type -1 to return all available.</button>
    <br><br>
    <button type="submit">This gets the next arrival predictions for all stops of a given mode. Press this submit button here to get your result after you have completed this form.</button>
</form>
<!-- This opens the unordered list using a for loop to display the result from a predicted transport arrival -->
<div>    
    <ul class="content-box">
        {% for arrivalmodes in data %}
            <li class="content-box">
                <span>Type of API: {{ arrivalmodes["$type"] }}</span>
                <p>Name of transport mode: {{ arrivalmodes["modeName"] }}</p>
                <p>Name of line: {{ arrivalmodes["lineName"] }}</p>
                <p>Name of start station: {{ arrivalmodes["stationName"] }}</p>
                <p>Platform of station: {{ arrivalmodes["platformName"] }}</p>
                <p>Name of station destination: {{ arrivalmodes["destinationName"] }}</p>
                <p>Direction: {{ arrivalmodes["direction"] }}</p>
                {% if "timeToStation" in arrivalmodes %} 
                {% set  seconds = arrivalmodes["timeToStation"] %} <!-- This will convert from seconds to minutes -->
                {% set minutes = seconds //60 %}
                {% if minutes == 0 %}
                <p><strong>Station time for the arrival of transport: Due</strong></p>
                {% else %}
                <p><strong>Station time of the transport arrival is in: {{ minutes }} minutes</strong></p>
                {% endif %}
                {% endif %}
                <p>Expected arrival of transport to station: {{ arrivalmodes["expectedArrival"] }}</p>
                <p>Vehicle Id: {{ arrivalmodes["vehicleId"] }}</p>
                <p>Current location: {{ arrivalmodes["currentLocation"] }}</p>
                <p>This location is towards: {{ arrivalmodes["towards"] }}</p>
            </li>
        {% endfor %}
    </ul> <!-- This closes the unordered list about the predicted transport arrival -->
</div>

<script>
    function toggleMode() {
        document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode');
    }
    
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark-mode');
    } else {
        document.body.classList.add('light-mode');
    }
</script>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->