{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body {
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    .light-mode {
        background-image:url('static/wallpaper.jpeg');
        --bg-color: white;
        --text-color: black;
    }
    .dark-mode {
        background-image:url('static/darkmode-wallpaper.jpg');
        --bg-color: #5F5F5F;
        --text-color: white;
    }
    .content-box {
        border: 2px solid var(--text-color);
        background-color: var(--bg-color);
    }
    .toggle-button {
        cursor: pointer;
        display: block;
        margin: auto;
    }
</style>

<button class="toggle-button" onclick="toggleMode()">Click this button here to change towards light or dark mode with the style of text</button>

<!-- This is the header to give the title as a purpose of this website page -->
<h3 class="content-box">TFL Occupancy API about charge connectors using the ids in human-readable format.</h3>
<!-- This is the paragraph provididng the information about the occupancy of a charge connector with a link to read this API in JSON -->
<p class="content-box">This information about the Occupancy API for getting the occupancy for a specific charge connector that is used on electric vehicles from TFL is written in human-readable format, to read the information about this in machine-readable format as the API in Json, click <a href="{{ url_for('occupancychargeid_form') }}" title="This is the machine-readable format link for the TFL Occupancy API about the charge connectors.">here</a>.</p>
<!-- This is the form created for getting the occupancy of a charge connector by entering the Id of a source system place for it and submitting the button to get the response -->
<form action="{{ url_for('occupancy_chargeid') }}" method="post">
    <label for="occupancycharge_ids" class="content-box">Enter an Id of a charge connector:</label>
    <input type="text" style="border: 1px solid black;" name="occupancycharge_ids" id="occupancycharge_ids" required>
    <button type="button" title="If you need help to enter the Id of a charge connector, read here">Click <a href="{{ url_for('occupancy_charge') }}">here</a> to get all Ids of each charge connectors available.</button>
    <br><br>
    <button type="submit">This gets the occupancy for a charge connector with a given id (sourceSystemPlaceId). Press this submit button here to get your result after you have completed this form.</button>
</form>
<!-- This opens the unordered list using for loops to display the result of a specific charge connector from a location -->
<div>
    <ul class="content-box">
        {% for idsofchargepoints in data %}
            <li class="content-box">
                <span>Type of API: {{ idsofchargepoints["$type"] }}</span>
                <p>Id of the charge connector (based on the sourceSystemPlaceId): {{ idsofchargepoints["sourceSystemPlaceId"] }}</p>
                <p>Status of the charge connector: {{ idsofchargepoints["status"] }}</p>
            </li>
        {% endfor %}
    </ul> <!-- This closes the unordered list about searching for a specific charge connector using its Id for it -->
</div>

<script>
    function toggleMode() {
        document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode');
    }
    
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark-mode');
    } else {
        document.body.classList.add('light-mode');
    }
</script>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->