{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<!-- This is the header to give the title as a purpose of this website page -->
<h3 style="border: 2px solid black; background-color:white;">TFL API Place Types</h3>
<!-- This is the paragraph provididng the information about searching for all types of a place with a link to read this API in JSON -->
<p style="border: 2px solid black; background-color:white;">This information about the TFL Place property API is written in human-readable format, to read the information in machine-readable format as the API, click <a href="{{ url_for('placetypes_info') }}" title="This is the machine-readable format link to view the parameters for the TFL API Place property.">here</a>.</p>
<!-- This opens the unordered list using for loops to display the result of a type of place -->
<div>
    <ul style="border: 2px solid black; background-color:white;">
        <p><u>Here are the list of the type of places below:</u></p>
        {% for typeofplace in data %}
            <li>
                {{ typeofplace }} <!-- These are the type of places provided as a list here -->
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->