{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body {
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    .light-mode {
        background-image:url('static/wallpaper.jpeg');
        --bg-color: white;
        --text-color: black;
    }
    .dark-mode {
        background-image:url('static/darkmode-wallpaper.jpg');
        --bg-color: #5F5F5F;
        --text-color: white;
    }
    .content-box {
        border: 2px solid var(--text-color);
        background-color: var(--bg-color);
    }
    .toggle-button {
        cursor: pointer;
        display: block;
        margin: auto;
    }
</style>

<button class="toggle-button" onclick="toggleMode()">Click this button here to change towards light or dark mode with the style of text</button>

<!-- This is the header to give the title as a purpose of this website page -->
<h3 class="content-box">TFL Road API for a list of street disruptions only, using the start and end dates of disruption in machine-format as JSON.</h3>
<!-- This is the form created for getting the bikepoint by entering a start date with time and the end date with time for finding any street disruptions within the range as RFC3339 format and submitting the button to get the response -->
<form action="{{ url_for('streetdisruptions_info') }}" method="post">
    <label for="start_date" class="content-box">Enter a start date and time for the street disruptions:</label>
    <input type="text" name="start_date" id="start_date" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter a start date for the street disruptions, read here">The start date and time of the street disruption should be displayed in RFC3339 format, for example 2022-01-01T05:00:00Z</button>
    <br><br>
    <label for="end_date" class="content-box">Enter a end date and time for the street disruptions:</label>
    <input type="text" name="end_date" id="end_date" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter an end date for the street disruptions, read here">The end date and time of the street disruption should be displayed in RFC3339 format, for example 2025-01-01T17:00:00Z</button>
    <br><br>
    <button type="submit">This gets a list of disrupted streets. Press the submit button here to get your result after completing this form.</button>
</form>

<script>
    function toggleMode() {
        document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode');
    }
    
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark-mode');
    } else {
        document.body.classList.add('light-mode');
    }
</script>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->