{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<!-- This is the header to give the title as a purpose of this website page -->
<h3 style="border: 2px solid black; background-color:white;">TFL Road API by getting the ID of the road in human-format to search for road disruptions.</h3>
<!-- This is the paragraph provididng the information about searching for a valid road Id to find any disruptions from with a link to read this API in JSON -->
<p style="border: 2px solid black; background-color:white;">This information about the Road API from TFL about the disruption of roads is written in human-readable format, to read the information about the disrupted roads from TFL in machine-readable format as the API, click <a href="{{ url_for('roadid_form') }}" title="This is the machine-readable format link to view the parameters for the TFL Road API about the road disruptions (using its ID).">here</a>.</p>
<!-- This is the form created for getting road disruptions by entering the Id of a road and submitting the button to get the response -->
<form action="{{ url_for('roadid_finder') }}" method="post">
    <label for="id_road" style="border: 1px solid black; background-color:white;">Enter an ID of a road:</label>
    <input type="text" name="id_road" id="id_road" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter a road id, read here">Click <a href="{{ url_for('roads_tfl') }}">here</a> to get the Id of a road that is available.</button>
    <br><br>
    <button type="submit">This gets the road with the given id. Press this submit button here to get your result after completing the form.</button>
</form>
<!-- This opens the unordered list using for loops to display the result of any road disruption with its given Id from a road -->
<div>
    <ul style="border: 2px solid black; background-color:white;">
        {% for roadswithids in data %}
            <li style="border: 2px solid black; background-color:white;">
                <span>Type of API: {{ roadswithids["$type"] }}</span>
                <p>Location of road: {{ roadswithids["location"] }}</p>
                <p>Description of road disruption: {{ roadswithids["comments"] }}</p>
                <p>Road disruption Id: {{ roadswithids["id"] }}</p>
                <p>Current update information about this road: {{ roadswithids["currentUpdate"] }}</p>
                <p>Current date and time information about this road (in RFC3339 format): {{ roadswithids["currentUpdateDateTime"] }}</p>
                <p>Status of road disruption: {{ roadswithids["status"] }}</p>
                <p>Severity status of road disruption: {{ roadswithids["severity"] }}</p>
                <p>Road category: {{ roadswithids["category"] }}</p>
                <p>Road subcategory: {{ roadswithids["subCategory"] }}</p>
                <p>Date and time the road disruption started (in RFC3339 format): {{ roadswithids["startDateTime"] }}</p>
                <p>Date and time the road disruption will finish (in RFC3339 format): {{ roadswithids["endDateTime"] }}</p>
                <p>Coordinates of road disruption in longitude and latitude points: {{ roadswithids["point"] }}</p>
                <p>Latest date and time the road disruption information was modified (in RFC3339 format): {{ roadswithids["lastModifiedTime"] }}</p>
            </li>
        {% endfor %}
    </ul> <!-- This closes the unordered list about road disruptions using the road Id -->
</div>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->
                
                