{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body {
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    .light-mode {
        background-image:url('static/wallpaper.jpeg');
        --bg-color: white;
        --text-color: black;
    }
    .dark-mode {
        background-image:url('static/darkmode-wallpaper.jpg');
        --bg-color: #5F5F5F;
        --text-color: white;
    }
    .content-box {
        border: 2px solid var(--text-color);
        background-color: var(--bg-color);
    }
    .toggle-button {
        cursor: pointer;
        display: block;
        margin: auto;
    }
</style>

<button class="toggle-button" onclick="toggleMode()">Click this button here to change towards light or dark mode with the style of text</button>

<!-- This is the header to give the title as a purpose of this website page -->
<h3 class="content-box">TFL Road API for displaying the categories.</h3>
<!-- This is the paragraph providing the information about the categories of the road with a link to read this API in JSON -->
<p class="content-box">This information about the TFL Road category API is written in human-readable format, to read the information in machine-readable format as the API, click <a href="{{ url_for('categoryofroad') }}" title="This is the machine-readable format link to view the parameters for the TFL API Road category.">here</a>.</p>
<!-- This opens the unordered list using for loops to display the result of the road categories as a list  -->
<div>
    <ul class="content-box">
        <p><u>Here are the list of the valid road disruption categories below:</u></p>
        {% for roadcategories in data %}
            <li>
                {{ roadcategories }} <!-- The list of the road categories is provided here -->
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    function toggleMode() {
        document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode');
    }
    
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark-mode');
    } else {
        document.body.classList.add('light-mode');
    }
</script>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->