{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body {
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    .light-mode {
        background-image:url('static/wallpaper.jpeg');
        --bg-color: white;
        --text-color: black;
    }
    .dark-mode {
        background-image:url('static/darkmode-wallpaper.jpg');
        --bg-color: #5F5F5F;
        --text-color: white;
    }
    .content-box {
        border: 2px solid var(--text-color);
        background-color: var(--bg-color);
    }
    .toggle-button {
        cursor: pointer;
        display: block;
        margin: auto;
    }
</style>

<button class="toggle-button" onclick="toggleMode()">Click this button here to change towards light or dark mode with the style of text</button>

<!-- This is the header to give the title as a purpose of this website page -->
<h3 class="content-box"> TFL Road API that is managed by the TFL.</h3>
<!-- This sis the paragraph that shows the reports and news about the status of all roads that are available with the link to read this API in JSON -->
<p class="content-box">Information for all road status updates: <a href="https://tfl.gov.uk/traffic/status/?wmode=transparent&corridorIds">Click Here!</a></p>
<p class="content-box">Further information about live reports and updates for all road congestions (including news): <a href="https://www.trafficdelays.co.uk/london-traffic-delays/">Click Here!</a></p>
<p class="content-box">This information about the Road API managed by TFL is written in human-readable format, to read the information about the roads from TFL in machine-readable format as the API, click <a href="{{ url_for('roadstfl_info') }}" title="This is the machine-readable format link to view the parameters for the TFL Road API.">here</a>.</p>
<!-- This opens the unordered list using a for loop to display the result about the list of road display names with its description -->
<div>
    <ul class="content-box">
        {% for roadsoftfl in data %}
            <li class="content-box">
                <span>Type of API: {{ roadsoftfl["$type"] }}</span>
                <p>Road ID: {{ roadsoftfl["id"] }}</p>
                <p>Display name of the road: {{ roadsoftfl["displayName"] }}</p>
                {% if "group" in roadsoftfl %}
                <p>Road group: {{ roadsoftfl["group"] }}</p>
                {% endif %}
                <p>Road status severity: {{ roadsoftfl["statusSeverity"] }}</p>
                <p>Description of road status severity: {{ roadsoftfl["statusSeverityDescription"] }}</p>
                <p>Road bounds: {{ roadsoftfl["bounds"] }}</p>
                <p>Road envelope: {{ roadsoftfl["envelope"] }}</p>
            </li>
        {% endfor %}
    </ul> <!-- This closes the unordered list about the display names of each road with its information -->    
</div>

<script>
    function toggleMode() {
        document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode');
    }
    
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark-mode');
    } else {
        document.body.classList.add('light-mode');
    }
</script>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->