{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<!-- This is the header to give the title as a purpose of this website page -->
<h3 style="border: 1px solid black; background-color:white;">TFL Search API for displaying the categories.</h3>
<!-- This is the paragraph providing information about the category of the search section from TFL with a link to read this API in JSON -->
<p style="border: 2px solid black; background-color:white;">This information about the TFL Search category API is written in human-readable format about getting the available search categories, to read the information in machine-readable format as the API, click <a href="{{ url_for('searchlist_info') }}" title="This is the machine-readable format link to view the parameters for the TFL API Search category.">here</a>.</p>
<!-- This opens the unordered list using for loops to display list of the name of the search categories -->
<div>
    <ul style="border: 2px solid black; background-color:white;">
        <p><u>Here are the list of search categories below:</u></p>
        {% for searchcategories in data %}
            <li>
                {{ searchcategories }} <!-- The pages, news and docs are the categories found in the search section as a list -->
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->