{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<!-- This is the header to give the title as a purpose of this website page -->
<h3 style="border: 2px solid black; background-color:white;">TFL Stop Point API for the search of queries in machine-format as JSON. The outcome of this will be in the english language.</h3>
<!-- This is the form created for getting the stoppoints of stations by entering an actual word or a string of words to search and submitting the button to get the response -->
<form action="{{ url_for('searchmatch_info') }}" method="post">
    <label for="search_query" style="border: 1px solid black; background-color:white;">Enter a query to search:</label>
    <input type="text" name="search_query" id="search_query" required>
    <br><br>
    <button type="submit">Get the search results of a query entered</button>
</form>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->