{% extends "layout.html" %}
{% block content %}
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body {
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    .light-mode {
        background-image:url('static/wallpaper.jpeg');
        --bg-color: white;
        --text-color: black;
    }
    .dark-mode {
        background-image:url('static/darkmode-wallpaper.jpg');
        --bg-color: #5F5F5F;
        --text-color: white;
    }
    .content-box {
        border: 2px solid var(--text-color);
        background-color: var(--bg-color);
    }
    .toggle-button {
        cursor: pointer;
        display: block;
        margin: auto;
    }
</style>
<!-- This is the button that is used to enable light or dark mode of the personalised transport planner -->
<button class="toggle-button" onclick="toggleMode()">Click this button here to change towards light or dark mode with the style of text</button>

<h3 class="content-box">TFL Stop Point API for the types of service in a stop point.</h3>

<p class="content-box">This information about the TFL Stop Point API is written in human-readable format, to read the information about the service types of stations using the naptan code from TFL in machine-readable format as the API, click <a href="{{ url_for('stoppointservice_form') }}" title="This is the machine-readable format link to view the parameters for the TFL Stop Point API about the station services (using its ID).">here</a>.</p>

<form action="{{ url_for('stoppoint_service') }}" method="post">
    <label for="Stoppoint_Id" class="content-box">Enter an Id of a Stop Point:</label>
    <input type="text" name="Stoppoint_Id" id="Stoppoint_Id" required>
    <button type="button" title="If you need help to enter a Stop Point Id on this field, read here. Please enter the values in the english language.">Click <a href="{{ url_for('search_match') }}">here</a> to view a list of Stop point Id to choose from by entering its common names. An example of a stop point is 940GZZLUBXN.</button>
    <br><br>
    <button type="submit">This gets the service types for a given stoppoint. Press this submit button here to get your result after you have completed this form.</button>
</form>
<div>    
    <ul class="content-box">
        {% for Service in data %}
            <li class="content-box">
                <span>Type of API: {{ Service["$type"] }}</span>
                <p>Name of line: {{ Service["lineName"] }}</p>
                <ul>
                    {% for lines in Service["lineSpecificServiceTypes"] %}
                        <li>
                            <p><strong>Type of service is {{ lines["serviceType"]["name"] }}</strong></p>
                            <p>The stop point serves this type of service is {{ lines["stopServesServiceType"] }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>            
</div>

<script>
    function toggleMode() {
        document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode');
    }
    
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark-mode');
    } else {
        document.body.classList.add('light-mode');
    }
</script>
{% endblock content %}