{% extends "layout.html"%}
{% block content %}

<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>

<h3 style="border: 2px solid black; background-color:white;">TFL Stop Point API for the disruption of transport modes.</h3>

<p style="border: 2px solid black; background-color:white;">This information about the TFL Mode API is written in human-readable format, to read the information about the getting a distinct list of disrupted stop points for the given modes from TFL in machine-readable format as the API, click <a href="{{ url_for('stoppointdisruptionmode_form') }}" title="This is the machine-readable format link to view the parameters for the TFL Stop Point API about the disruption of a transport.">here</a>.</p>

<form action="{{ url_for('stoppoint_disruptionmode') }}" method="post">
    <label for="mode_name" style="border: 1px solid black; background-color:white;">Enter a name of a transport mode:</label>
    <input type="text" name="nameof_mode" id="nameof_mode" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter the transport mode on this field, read here. Please enter the values in the english language.">Click <a href="{{ url_for('stoppointmode') }}">here</a> to view a list of transport modes to choose from. The examples are bus, tram, national-rail and overground.</button>
    <br><br>
    <label for="route_stops" style="border: 1px solid black; background-color:white;">Route blocked stops to be included?:</label>
    <input type="text" name="route_stops" id="route_stops" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter the route blocked stops to be included or not on this field, read here. Please enter the values in the english language.">The values are 'true' or 'false' to decide when to include route blocked stops.</button>
    <br><br>
    <button type="submit">This gets the transport mode of the disrupted stop point. Press this submit button here to get your result after completing this form.</button>
</form>

<div>
    <ul style="border: 2px solid black; background-color:white;">
        {% for stoppoints in data %}
            <li style="border: 2px solid black; background-color:white;">
                <span>Type of API: {{ stoppoints["$type"] }}</span>
                <p>Stop Point Id: {{ stoppoints["atcoCode"] }}</p>
                <p>Name of the station: {{ stoppoints["commonName"] }}</p>
                <p>Name of transport mode: {{ stoppoints["mode"] }}</p>
                <p>Message of the disrupted stop point: {{ stoppoints["description"] }}</p>
                <p>The date of the disrupted stop point started from (written in RFC3339 format): {{ stoppoints["fromDate"] }}</p>
                <p>The date of the disrupted stop point will end until (written in RFC3339 format): {{ stoppoints["toDate"] }}</p>
                <p>Type of message provided of the disrupted stop point: {{ stoppoints["type"] }}</p>
                <p>Naptan code: {{ stoppoints["stationAtcoCode"] }}</p>
                <p>Events that is happening at this stop point: {{ stoppoints["appearance"] }}</p>
                {% if "additionalInformation" in stoppoints %}
                <p><strong>Extra information: {{ stoppoints["additionalInformation"] }}</strong></p>
                {% endif %}
            </li>   
        {% endfor %}
    </ul>
</div>
{% endblock content %}