{% extends "layout.html" %}
{% block content %}

<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>

<h3 style="border: 2px solid black; background-color:white;">TFL Stop Point API for the types of service in a stop point.</h3>

<p style="border: 2px solid black; background-color:white;">This information about the TFL Stop Point API is written in human-readable format, to read the information about the service types of stations using the naptan code from TFL in machine-readable format as the API, click <a href="{{ url_for('stoppointservice_form') }}" title="This is the machine-readable format link to view the parameters for the TFL Stop Point API about the station services (using its ID).">here</a>.</p>

<form action="{{ url_for('stoppoint_service') }}" method="post">
    <label for="Stoppoint_Id" style="border: 1px solid black; background-color:white;">Enter an Id of a Stop Point:</label>
    <input type="text" name="Stoppoint_Id" id="Stoppoint_Id" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter a Stop Point Id on this field, read here. Please enter the values in the english language.">Click <a href="{{ url_for('search_match') }}">here</a> to view a list of Stop point Id to choose from by entering its common names. The examples are 940GZZLUBXN.</button>
    <br><br>
    <button type="submit">This gets the service types for a given stoppoint. Press this submit button here to get your result after you have completed this form.</button>
</form>
<div>    
    <ul style="border: 2px solid black; background-color:white;">
        {% for Service in data %}
            <li style="border: 2px solid black; background-color:white;">
                <span>Type of API: {{ Service["$type"] }}</span>
                <p>Name of line: {{ Service["lineName"] }}</p>
                <ul>
                    {% for lines in Service["lineSpecificServiceTypes"] %}
                        <li>
                            <p><strong>Type of service: {{ lines["serviceType"]["name"] }}</strong></p>
                            <p>Stop point serves this type of service: {{ lines["stopServesServiceType"] }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>            
</div>
{% endblock content %}