{% extends "layout.html" %}
{% block content %}

<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>

<h3 style="border: 2px solid black; background-color:white;">TFL Stop Point API for choosing a specific types of stop point in human-readable format.</h3>

<p style="border: 2px solid black; background-color:white;">This information about the specifc type of stop point is written in human-readable format, to read the information about this from TFL in machine-readable format as the API, click <a href="{{ url_for('stoppointtypes_form') }}" title="This is the machine-readable format link to view the parameters for the TFL API about the given stop point type.">here</a>.</p>

<form action="{{ url_for('stoppointtypes') }}" method="post">
    <label for="stoppoint_specifictype" style="border: 1px solid black; background-color:white;">Enter a type of stop point:</label>
    <input type="text" name="stoppoint_specifictype" id="stoppoint_specifictype" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter a type of stop point, read here. Please enter in the english language.">Click <a href="{{ url_for('stoppointtype') }}">here</a> to view a type of stoppoint. Examples are NaptanAirAccessArea, NaptanTaxiRank and NaptanMetroStation.</button>
    <br><br>
    <button type="submit">This gets all stop points of a given type. Press this submit button here to get your result after completing this form.</button>
</form>
<div>    
    <ul style="border: 2px solid black; background-color:white;">
        {% for stoppointtype in data %}
            <li style="border: 2px solid black; background-color:white;">
                <span>Type of API: {{ stoppointtype["$type"] }}</span>
                <p>The name of the place: {{ stoppointtype["commonName"] }}</p>
                <p>Stop point Id: {{ stoppointtype["id"] }}</p>
                <p>Type of stop point: {{ stoppointtype["stopType"] }}</p>
                <p>Availability of this stop point: {{ stoppointtype["status"] }}</p>
                <p>Type of place: {{ stoppointtype["placeType"] }}</p>
                {% if "stationNaptan" in stoppointtype %}
                <p>Naptan code of station: {{ stoppointtype["stationNaptan"] }}</p>
                {% endif %}
                {% if "icsCode" in stoppointtype %}
                <p>ICS code: {{ stoppointtype["icsCode"] }}</p>
                {% endif %}
                <p>Longitude: {{ stoppointtype["lon"] }}</p>
                <p>Latitude: {{ stoppointtype["lat"] }}</p>
                <ul>
                    {% for moreproperties in stoppointtype["additionalProperties"] %}
                        <li>
                            {% if "category" in moreproperties and "key" in moreproperties and "value" in moreproperties %}
                            <p>The {{ moreproperties["category"] }} of {{ moreproperties["key"] }} is {{ moreproperties["value"] }}.</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}