{% extends "layout.html" %}
{% block content %}

<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>

<h3 style="border: 2px solid black; background-color:white;">TFL Stop Point API for the disruption of transports in machine-readable format as JSON. The blocked route stops is included as default.</h3>

<form action="{{ url_for('stoppointdisruptionmode_info') }}" method="post">
    <label for="nameof_modes" style="border: 1px solid black; background-color:white;">Enter a name of a transport mode:</label>
    <input type="text" name="nameof_modes" id="nameof_modes" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter the transport mode on this field, read here. Please enter the values in the english language.">Click <a href="{{ url_for('stoppointmode') }}">here</a> to view a list of transport modes to choose from. The examples are bus, tram, national-rail and overground.</button>
    <br><br>
    <button type="submit">This gets the transport mode of the disrupted stop point. Press this submit button here to get your result after you have completed this form.</button>
</form>
{% endblock content %}