{% extends "layout.html" %}
{% block content %}

<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>

<h3 style="border: 1px solid black; background-color:white;">TFL Stop Point API for displaying the list of stop point types available.</h3>

<p style="border: 2px solid black; background-color:white;">This information about the TFL Stop Point API is written in human-readable format, to read the information in machine-readable format as the API, click <a href="{{ url_for('stoppointtype_info') }}" title="This is the machine-readable format link to view the parameters for the TFL API stop point types.">here</a>.</p>

<div>
    <ul style="border: 2px solid black; background-color:white;">
        <p><u>Here are the list of stop point types below:</u></p>
        {% for stoppointtype in data %}
            <li>
                {{ stoppointtype }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}