{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body {
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    .light-mode {
        background-image:url('static/wallpaper.jpeg');
        --bg-color: white;
        --text-color: black;
    }
    .dark-mode {
        background-image:url('static/darkmode-wallpaper.jpg');
        --bg-color: #5F5F5F;
        --text-color: white;
    }
    .content-box {
        border: 2px solid var(--text-color);
        background-color: var(--bg-color);
    }
    .toggle-button {
        cursor: pointer;
        display: block;
        margin: auto;
    }
</style>
<!-- This is the button that is used to enable light or dark mode of the personalised transport planner -->
<button class="toggle-button" onclick="toggleMode()">Click this button here to change towards light or dark mode with the style of text</button>

<h3 class="content-box">TFL Stop Point API for choosing a specific types of stop point in human-readable format.</h3>

<p class="content-box">This information about the specifc type of stop point is written in human-readable format, to read the information about this from TFL in machine-readable format as the API, click <a href="{{ url_for('stoppointtypes_form') }}" title="This is the machine-readable format link to view the parameters for the TFL API about the given stop point type.">here</a>.</p>

<form action="{{ url_for('stoppointtypes') }}" method="post">
    <label for="stoppoint_specifictype" class="content-box">Enter a type of stop point:</label>
    <input type="text" name="stoppoint_specifictype" id="stoppoint_specifictype" required>
    <button type="button" title="If you need help to enter a type of stop point, read here. Please enter in the english language.">Click <a href="{{ url_for('stoppointtype') }}">here</a> to view a type of stoppoint. Examples are NaptanAirAccessArea, NaptanTaxiRank and NaptanMetroStation.</button>
    <br><br>
    <button type="submit">This gets all stop points of a given type. Press this submit button here to get your result after completing this form.</button>
</form>
<div>    
    <ul class="content-box">
        {% for stoppointtype in data %}
            <li class="content-box">
                <span>Type of API: {{ stoppointtype["$type"] }}</span>
                <p>The name of the place: {{ stoppointtype["commonName"] }}</p>
                <p>Stop point Id: {{ stoppointtype["id"] }}</p>
                <p>Type of stop point: {{ stoppointtype["stopType"] }}</p>
                <p>Availability of this stop point: {{ stoppointtype["status"] }}</p>
                <p>Type of place: {{ stoppointtype["placeType"] }}</p>
                {% if "stationNaptan" in stoppointtype %}
                <p>Naptan code of station: {{ stoppointtype["stationNaptan"] }}</p>
                {% endif %}
                {% if "icsCode" in stoppointtype %}
                <p>ICS code: {{ stoppointtype["icsCode"] }}</p>
                {% endif %}
                <p>Longitude: {{ stoppointtype["lon"] }}</p>
                <p>Latitude: {{ stoppointtype["lat"] }}</p>
                <ul>
                    {% for moreproperties in stoppointtype["additionalProperties"] %}
                        <li>
                            {% if "category" in moreproperties and "key" in moreproperties and "value" in moreproperties %}
                            <p>The {{ moreproperties["category"] }} of {{ moreproperties["key"] }} is {{ moreproperties["value"] }}.</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    function toggleMode() {
        document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode');
    }
    
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark-mode');
    } else {
        document.body.classList.add('light-mode');
    }
</script>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->