{% extends "layout.html"%}
{% block content %}
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<h3 style="border: 2px solid black; background-color:white;">TFL Stop Point API for the route sections for all the lines that provides the service that is available or unavailable from the given stop point ids</h3>

<p style="border: 2px solid black; background-color:white;">This information about the stop point API from TFL is written in human-readable format, to read more infromation about this from TFL in machine-readable format as the API, click <a href="{{ url_for('stoppointroute_form') }}" title="This is the machine-readable format link for the TFL Stop Point API about the routes of a given stop point.">here</a>.</p>

<form action="{{ url_for('stoppoint_route') }}" method="post">
    <label for="stoppoint_routes" style="border: 1px solid black; background-color:white;">Enter an Id of a stop point:</label>
    <input type="text" style="border: 1px solid black;" name="stoppoint_routes" id="stoppoint_routes" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter a Stop Point Id on this field, read here. Please enter the values in the english language.">Click <a href="{{ url_for('search_match') }}">here</a> to view a list of Stop point Id to choose from by entering its common names. The examples are 940GZZLUBXN.</button>
    <br><br>
    <label for="typesofservice" style="border: 1px solid black; background-color:white;">Enter a type of service for this stop point:</label>
    <input type="text" style="border: 1px solid black;" name="typesofservice" id="typesofservice" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter a type of service on this field, read here. Please enter the values in the english language.">Click <a href="{{ url_for('line_typeservice') }}">here</a> to view a list of service to choose for your stop point. The values to choose from are 'Regular' or 'Night'.</button>
    <br><br>
    <button type="submit">This returns the route sections for all the lines that service the given stop point ids. Press this submit button here to get your result after you have completed this form.</button>
</form>
<div>
    <ul style="border: 2px solid black; background-color:white;">
        {% for routesdata in data %}
            <li style="border: 2px solid black; background-color:white;">
                <span>Type of API: {{ routesdata["$type"] }}</span>
                <p>Line Id: {{ routesdata["lineId"] }}</p>
                <p>Naptan Id (This was the stop point Id you have entered): {{ routesdata["naptanId"] }}</p>
                <p>Name of the stop point route section (origin station - destination station): {{ routesdata["routeSectionName"] }}</p>
                <p>The canonical direction of this route section is {{ routesdata["direction"] }} of this transport mode {{ routesdata["mode"] }}</p>
                <p>The date and time of this stop point route section is valid from {{ routesdata["validFrom"] }} until {{ routesdata["validTo"] }}</p>
                <p>The type of service for this transport mode is {{ routesdata["serviceType"] }} and the availability of this route is {{ routesdata["isActive"] }}</p>
            </li>   
        {% endfor %}
    </ul>
</div>
{% endblock content %}