{% extends "layout.html" %}
{% block content %}

<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body {
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
        color: var(--text-color);
        background-color: var(--bg-color);
    }
    .light-mode {
        background-image:url('static/wallpaper.jpeg');
        --bg-color: white;
        --text-color: black;
    }
    .dark-mode {
        background-image:url('static/darkmode-wallpaper.jpg');
        --bg-color: #5F5F5F;
        --text-color: white;
    }
    .content-box {
        border: 2px solid var(--text-color);
        background-color: var(--bg-color);
    }
    .toggle-button {
        cursor: pointer;
        display: block;
        margin: auto;
    }
</style>
<!-- This is the button that is used to enable light or dark mode of the personalised transport planner -->
<button class="toggle-button" onclick="toggleMode()">Click this button here to change towards light or dark mode with the style of text</button>

<h3 class="content-box">TFL Stop Point API to find different kind of transports as modes.</h3>

<p class="content-box">This information about the TFL Stop Point API is written in human-readable format, to read the information about the types of transports from TFL in machine-readable format as the API, click <a href="{{ url_for('stoppointmode_info') }}" title="This is the machine-readable format link to view the parameters for the TFL Stop Point API about the transports modes">here</a>.</p>

<div>
    <ul class="content-box">
        {% for stoppointmodes in data %}
            <li class="content-box">
                <span>Type of API: {{ stoppointmodes["$type"] }}</span>
                <p>Name of transport mode: {{ stoppointmodes["modeName"] }}</p>
                <p>TFL service: {{ stoppointmodes["isTflService"] }}</p>
                <p>Payment of fares: {{ stoppointmodes["isFarePaying"] }}</p>
                <p>Scheduled service: {{ stoppointmodes["isScheduledService"] }}</p>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    function toggleMode() {
        document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode');
    }
    
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark-mode');
    } else {
        document.body.classList.add('light-mode');
    }
</script>
{% endblock content %}