{% extends "layout.html" %}
{% block content %}

<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>

<h3 style="border: 2px solid black; background-color:white;">TFL Stop Point API for choosing a specific type of stop point in machine-readable format as the Json format.</h3>

<form action="{{ url_for('stoppointtypes_info') }}" method="post">
    <label for="stoppoint_specifictypes" style="border: 1px solid black; background-color:white;">Enter a type of stop point:</label>
    <input type="text" name="stoppoint_specifictypes" id="stoppoint_specifictypes" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter a type of stop point, read here. Please enter in the english language.">Click <a href="{{ url_for('stoppointtype') }}">here</a> to view a type of stoppoint. Examples are NaptanAirAccessArea, NaptanTaxiRank and NaptanMetroStation.</button>
    <br><br>
    <button type="submit">This gets all stop points of a given type. Press this submit button here to get your result after you have completed this form.</button>
</form>
{% endblock content %}