{% extends "layout.html" %} <!-- This extends the layout.html template as parent to another template, which is this template as child -->
{% block content %} <!-- This is the opening block allowing contents of program codes to be written below -->
<!-- This is the settings as the style for creating the background image of the website -->
<style>
    body{
        background-image:url('static/wallpaper.jpeg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
<!-- This is the header to give the title as a purpose of this website page -->
<h3 style="border: 2px solid black; background-color:white;">TFL Vehicle API using ids of vehicles for search in machine-readable format.</h3>
<!-- This is the form created for getting the predicted transport arrival by entering the Id of a vehicle from the transport mode given and submitting the button to get the response -->
<form action="{{ url_for('vehicle_info') }}" method="post">
    <label for="vehicle_id" style="border: 1px solid black; background-color:white;">Enter an ID of a vehicle:</label>
    <input type="text" name="vehicle_id" id="vehicle_id" required>
    <button style="border:2px solid black; background-color:white;" type="button" title="If you need help to enter the Id of a vehicle, read here">Click <a href="{{ url_for('line_arrival') }}">here</a> to get the Id of a vehicle available.</button>
    <br><br>
    <button type="submit">Gets the predictions for a given list of vehicle Id's</button>
</form>
{% endblock content %} <!-- This is the closing block that does not allow more content of program codes to be entered above-->